langchain
langchain-community
langchain-core
langchain-openai
openai
transformers
sentence-transformers
sentencepiece
huggingface-hub
tiktoken
pypdf
nltk
RapidFuzz
torch
accelerate
numpy
pandas
scikit-learn
scipy
gradio
fastapi
uvicorn
neo4j
protobuf
pydantic
pydantic-core
python-dotenv
matplotlib
seaborn
dowhy
econml
pgmpy
gcastle
pywhy-graphs
lingam
tigramite
pygam
momentchi2
numdifftools
graphviz
pytorch-lightning
requests
python-dateutil
pytz
PyYAML
orjson
typing-extensions